.container-documents {
  display:flex;
  flex-direction: column;
  width: inherit;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Roboto"
}

.container-docportal {
  width: 100%;
  overflow: auto;
}

.docTypoDiv {
  font-family: "Roboto";
  color: "white";
}

.newDocDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: -10px;
}

.navbar-container {
  margin-bottom: 56px;
  flex-grow: 1
}

#docPaperPort {
  width: 100%;
  margin-top: 3px;
  overflow-x: auto;

}

.newDocInput {
  margin: 10px;
  padding: 10px;
}

#newDocumentName {
  width: 208px;
  text-align: center;
}

.addCollabButton {
  height: 1em;
  width: 1em;
  margin-top: 6px !important;
  margin-right: 10px;
}

.addCollabDiv {
  margin-right: 0px;
}

.renderDocsandButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* style={{overflow:"auto", marginLeft: 2}}  */
.listDoc {
  border: 1px solid black;
  display: inline;
  flex-grow: 2
}

.newdocButton {
  margin-left: 2px;
}

.tableDoc {
  padding: 10px;
}

.docsPaper {
  overflow: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;
  margin-bottom: 25px;
  max-height: 850px;
}

::-webkit-scrollbar {
    display: none;
}
