.container-documents {
  display:flex;
  flex-direction: column;
  width: inherit;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Roboto"
}

.container-docportal {
  width: 100%;
}

.docTypoDiv {
  font-family: "Roboto";
  color: "white";
}

.newDocDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.navbar-container {
  margin-bottom: 66px;
}

#docPaperPort {
  width: 100%;
  margin-top: 3px;
  overflow-x: auto;

}

#tableDocPort {
  min-width: 700px;
}

#newDocInput {
  margin-bottom: 20px;
}
