.box-container {
  height: 100%;
  width: 100%;
}

.loginPageBody{
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

.loginPaper{
  display: flex;
  background-color: red;
  flex-direction: column;
  height: 300px;
  width: 280px;
  align-items: center;
  justify-content: center;

}
