.box-container {
  height: 100%;
  width: 100%;
}

.loginPageBody{
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

.loginPaper{
  display: flex;
  background-color: red;
  flex-direction: column;
  height: 300px;
  width: 280px;
  align-items: center;
  justify-content: center;
}

.lastinputLog {
  margin-bottom: 200px
}

.usernameText {
  display: inline-block;
}

.iconsyay {
  margin-right: 5px;
  margin-bottom: -8px;
}

/* svg.MuiSvgIcon-root-116.test {
  margin-right: 5px;
  margin-top: -5px;
} */
