.navigation-bar {
  display: flex;
  justify-content: center;
}

.editor {
  /* border: 1px solid grey; */
  padding: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  height: 800px;
  width: 600px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 0px;
}

.toolbar-btn{
  width: auto;
}

.alignRightClass{
  text-align: right;
}

.alignLeftClass{
  text-align: left;
}

.alignCenterClass{
  text-align: center;
}

.docshare-toolbar {
  margin-bottom: 70px;
}

.textEditorGrandma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editorPaper {
  width: 600px;
  height: 800px;
  margin-top: 20px;
  overflow: auto;
}
