.navigation-bar {
  display: flex;
  justify-content: center;
}

.editor {
  border: 1px solid grey;
  padding: 6px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  height: 500px;
  width: 500px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}


.fontSizeMenuItem {
  /* color: red !important; */
}
